// sidebar
$menuText:#1f2329;
$menuActiveTextBg:#e8f7f3;

$menuBg:#f9fbfe;
$menuHover:#f8f7f7;

$subMenuBg:#fafafc;
$subMenuText:#818690;

$sideBarWidth: 250px;
$topnavHeight: 60px;
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  topnavHeight: $topnavHeight;
}
