//ABB
$mainclr: #ff000f;
$mainclr2: #6e6e6e; //background: linear-gradien
$mainclr3: #f8f3f3;

$gradient1:#6e6e6e;
$gradient2:#6e6e6e;
$gradient3:#f8f3f3;

$menuActiveText:#ff000f;
$subMenuActiveText:#ff000f;
$subMenuHover:#f0f0f0; //f0f0f0 ffe6e7

$navbar-font-clr:#5a5e66;
$navbar-bk-clr:#fff;