$mainclr: #0f6349;
$mainclr2: #1f9476; //background: linear-gradien
$mainclr3: #f3f8f7;

$gradient1:#0f6349;
$gradient2:#1f9476;
$gradient3:#f3f8f7;

$menuActiveText:#0f6349;
$subMenuActiveText:#1f9476; 
$subMenuHover:#e8f7f3;

$navbar-font-clr:#5a5e66;
$navbar-bk-clr:#fff;
