$mainclr: #005597;
$mainclr2: #005597; //background: linear-gradien
$mainclr3: #f3f6f8;

$gradient1:#1b296a;
$gradient2:#005597;
$gradient3:#f3f6f8;

$menuActiveText:#1b296a;
$subMenuActiveText:#005597; 
$subMenuHover:#f3f3f7;

$navbar-font-clr:#5a5e66;
$navbar-bk-clr:#fff;
