$mainclr: #002752;
$mainclr2: #002752; //background: linear-gradien
$mainclr3: #f3f8f7;

$gradient1:#002752;
$gradient2:#002752;
$gradient3:#f3f8f7;

//EBDFDF 002752
$menuActiveText:#002752;
$subMenuActiveText:#002752; 
$subMenuHover:#EDEEEF;

$navbar-font-clr:#5a5e66;
$navbar-bk-clr:#fff;