//ABB
$mainclr: #C74634;
$mainclr2: #3A3632; 
$mainclr3: #f8f3f3;

$gradient1:#C74634;
$gradient2:#C74634;
$gradient3:#f8f3f3;

$menuActiveText:#C74634;
$subMenuActiveText:#C74634;
$subMenuHover:#f0f0f0; //f0f0f0 ffe6e7

$navbar-font-clr:#5a5e66;
$navbar-bk-clr:#fff;